/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

$gray1 : #202225;
$gray2 : #282b30;
$gray3 : #2f3136;
$gray4 : #aab5c3;
$blue1 : #4e63c5;
$blue2 : #6b9bcb;

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}


/*body { font: 13px Helvetica, Arial;}

form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;

	input { border: 0; padding: 10px; width: 90%; margin-right: 0; }

	button { width: 9%; background: rgb(130, 224,255); border: none; padding: 10px; }
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}
*/

#nicknameOverlay {
	background-color: $gray1;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: .95;
	display: block;
	z-index: 999;

}

.logo {
	color: $blue1;
}

#nicknameContent {
	margin-top: 40px;
	top: 40%;

	h2 {
		color: white;
		text-align: center;
	}
	p {
		text-align: center;
		color: white;
	}

	input {
		border-radius: 50px;
		width: 80%;
		margin: 0 auto;
		background-color: $blue1;
		border: none;
		color: white;
		-webkit-box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);
		box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);
		padding: 20px;
	}

	input:focus {

		border: solid 1px lighten($blue1, 5);
	}

}

#colorSelect
{

margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
width: 70%;

	p {
		text-align: center;
		color: white;
	}
}

.userColor {
	border-radius: 50%;
	min-width: 100px;
	max-width: 100px;
	max-height: 100px;
	min-height: 100px;
	background-color: black;
	border: solid 5px white;
	margin: 0 auto;
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.userColor:hover {
	border: solid 5px $blue1;
	-webkit-box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);
}

.ucSelected {
	border: solid 5px $blue2;
	-webkit-box-shadow: inset 0px 4px 156px -8px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 4px 156px -8px rgba(0,0,0,1);
	box-shadow: inset 0px 4px 156px -8px rgba(0,0,0,1);
}

#ucRed {
	background-color: #fa3c4c;
}

#ucBlue {
	background-color: #0084ff;
}

#ucGreen {
	background-color: #13cf13;
}

#ucBrown {
	background-color: #be8765;
}
#ucPurple {
	background-color: #7646ff;
}

#ucOrange {
	background-color: #ff7e29;
}

#nicknameSubmit {
	margin-top: 10px;
	margin-bottom: 30px;
	button {
	//background-color: $blue1;
	color: white;
	padding: 15px;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	width: 30%;
	cursor: pointer;

	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

	-webkit-box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 25px -1px rgba(0,0,0,0.75);

	background: -webkit-linear-gradient(#6274c4 0%, #4e63c5 100%);
	background: -o-linear-gradient(#6274c4 0%, #4e63c5 100%);
	background: linear-gradient(#6274c4 0%, #4e63c5 100%);
		}

	button:hover {
	width: 35%;
	}
}




#chatHeader {
	background-color: white;
	color: $gray3;
	text-align: left;
	padding: 10px;
	border-bottom: solid 1px #ddd;

	h2 {
		font-size: 1.2em;
		padding: 20px;
		margin: 0;
		display: inline;
	}
}

.hash {
	color: $gray4;
	margin-right: 5px;
}



#onlineUsers {
	background-color: $gray3;
	overflow-x: hidden;
	height: 100%;
	min-width: 200px;

	h2 {
		color: white;
		font-size: 1em;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: solid 1px $gray1;
	}
	ul {
		list-style-type: none;
		padding: 5px;
		padding-left: 10px;
		margin: 0;
		height: 100%;
	}

	ul li {
		color: #67767d;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: solid 1px $gray1;
		cursor: pointer;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		word-wrap: break-word;
		white-space: -moz-pre-wrap;
		white-space: pre-wrap;
	}

	ul li:hover {
		color: white;
	}
}


#onlineUsers::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; }

#onlineUsers::-webkit-scrollbar-button:hover{ background-color: #AAA; }

::-webkit-scrollbar-thumb{ background-color: #707070; }

#onlineUsers::-webkit-scrollbar-track:hover{ background-color: #4e4e4e; }

#onlineUsers::-webkit-scrollbar-track{ background-color: #202020; }

#onlineUsers::-webkit-scrollbar-track:hover{ background-color: #4e4e4e; }

#onlineUsers::-webkit-scrollbar{ width: 5px; }


.messageContent {
	max-width: 70%;
	word-wrap: break-word;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	padding: 0;
	margin: 0;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 55px;

	li {
		padding: 5px;
		padding-left: 20px;
	}
	li:nth-child(odd) {
		background: #f1f1f1;
	}
}

.handle {
	color: #1d1d1d;
	display: block;
	font-weight: 700;
}

.numUsers {
	color: lighten(#6b9bcb, 20%);
}

#messageBox {
	background-color: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-top: 20px;

	form {
		display: inline;
		margin: 0;
	}

	input {
		width: 60%;
		background-color: #eee;
		border: solid 1px $gray4;
		box-shadow: none;
		border-radius: 5px;
		display: inline;
	}
	button {
		display: inline;
		background-color: $blue1;
		padding: 10px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 5px;
		cursor: pointer;
		text-align: center;
		color: white;
	}
}


@media screen and (min-width: 40em) {
#chatContainer {
	height: 100vh;
}


#chatHeader {
	background-color: white;
	color: $gray3;
	text-align: left;
	padding: 10px;
	border-bottom: solid 1px #ddd;
	position: fixed;
	top: 0px;
}

#messages {
	margin-top: 48px;
}

}
